/* Add CSS Styling */
.odd {
    background-color: rgb(251, 134, 154);
    font-family: verdana, "DejaVu Sans", sans-serif;
}

#row-two {

    color: rgb(0, 0, 253);
    font-size: 36px;
}

.adjust-font-size {
    font-size: 24px;
}

#row-four {
    background-color: rgb(144, 238, 144);
    font-weight: bold;
}